<center> 
<div class="form-group">
  <br><br>
    <div ng-repeate="cri in $ctrl.criteria" >
   	   <h3 style="display:inline"><font color="00695C"> {{cri}} </font></h3>
   		<select  class="form-control" style="display:inline;width:20%;" id={cri}  >
       <option
       ng-repeat="num in $ctrl.generatore"
       > {{num}}</option>
       </select>
 		<br><br>&nbsp;&nbsp;&nbsp;&nbsp;
       <button style = " background-color:#00695C"class="btn btn-primary" ng-click="$ctrl.find()"> find submit </button>
    </div>
    
      <cities cities="$ctrl.cities"></cities>

   	</div>
    </center>