<div>
  <div style=" height:615px; padding : 15px; width: 100% border: "> 
      <div id="cityInfo" style="width: 60%;display: inline-block;">
          <br><br>
          <font color="FFFFFF">City Name: {{cityinfo.name}}</font><br><br>
          <font color="FFFFFF" ng-show="cityinfo.securityMark">Security Score: {{cityinfo.securityMark}}</font><br><br>
          <font color="FFFFFF"  ng-show="cityinfo.costMark" >Cost Of Living Score: {{cityinfo.costMark}}</font><br><br>
          <font color="FFFFFF" ng-show="cityinfo.weatherMark" >Weather Score : {{cityinfo.weatherMark}}</font><br><br>
          <font color="FFFFFF">Longitude : {{cityinfo.longitude}}</font><br><br>
          <font color="FFFFFF">Latitude : {{cityinfo.latitude}}</font><br><br>
          <font color="FFFFFF">Description : {{cityinfo.description}}</font><br><br>
          <p style="color: #FFFFFF; font-size:12px;">* cities security, cost of living and weather scores are measured relatively</p>
      </div>
       <div id="completeMap" style="width : 25% ; display: inline-block; ;float:right">
        <h4 onClick="appendMap()" style="color:gray">click to find at google maps</h4>
        <div id='map'>  </div>
        <small>
          <a
             ng-href='https://maps.google.com/maps?q={{cityinfo.latitude}},{{cityinfo.longitude}}&hl=es;z=14&amp;output=embed' style="color:#b9e8da;text-align:left" target="_blank">See map bigger
          </a>
        </small>
      </div>
      <table style="position: relative; left: 20px; top:40px; " >
          <tr>
          <td id="citiesImgs"  ng-repeat="image in cityinfo.images track by $index">
              <img  width="250px" height="200px" style="margin : 10px; border: 5px double gray" ng-src="{{image}}"/>
          </td>
       </tr>          
      </table>

 </div>


     
 <div id="hotels" >
      <!-- <img id= "hotelsBackgroundImage" src="https://static.pexels.com/photos/545034/pexels-photo-545034.jpeg" style="width: 100%; height:1000px; position: relative; bottom: 120px;"> -->
      <div id="hotelsInfo" style="text-align: top;">    
<!--          <center style=" position: relative; bottom: 600px;"> </center>-->
         
              <div ng-repeat="hotel in cityinfo.hotels" style="display:inline-block; color:white;" >
                  <div style=" padding:10px; margin: 35px; background-color:#733E39 ; border-radius: 25px; opacity: 0.6; width: 350px; right: 800px  ;height:1200 ">
                  <font>hotelName : {{hotel.hotelName}} </font><br>
                  <font>rating : {{hotel.rating}} </font><br>
                  <font>adress : {{hotel.address}} </font><br>
                  <ul>reviews  :
                      <li ng-repeat="review in hotel.reviews"> {{review}} </li>
                  </ul>                       
                  </div>
                  <!-- <img src="{{hotel.image}}"> -->
              </div>                
       

      </div>
 </div>
</div>



<!--

           <span width="150px" ng-repeat="hotel in cityinfo.hotels" >
               <ul class="list-group">
                  <li class="list-group-item active">hotelName : {{hotel.hotelName}}</li>
                  <li class="list-group-item">rating : {{hotel.rating}}</li>
                  <li class="list-group-item">adress : {{hotel.address}}</li>
                  <li><ol>reviews  :
                       <li ng-repeat="review in hotel.reviews"> {{review}} </li>
                   </ol>
                      </li>
                </ul>
            </span >
-->
