<div>
	<div class="alert alert-success  fa-thumbs-o-up" style="width:30%; background-color:#4DB6AC">
	    <font color="FFFFFF">name : {{cityinfo.name}}</font><br>
	    <font color="FFFFFF">securityMark : {{cityinfo.securityMark}}</font><br>
	    <font color="FFFFFF">costMark : {{cityinfo.costMark}}</font><br>
	    <font color="FFFFFF">weatherMark : {{cityinfo.weatherMark}}</font><br>
	    <font color="FFFFFF">longitude : {{cityinfo.longitude}}</font><br>
	    <font color="FFFFFF">latitude : {{cityinfo.latitude}}</font><br>
	    <p>description : <br/>
	    	{{cityinfo.description}}
	    </p>
	    <div ng-repeat="image in cityinfo.images track by $index">
	    <img
	      width="150px"
	      ng-src="{{image}}"
	    />
	    <hr>
	    </div>
    </div>

    <div id='map'></div>

    <br/>
    <small><a 
    	ng-href='https://maps.google.com/maps?q={{cityinfo.latitude}},{{cityinfo.longitude}}&hl=es;z=14&amp;output=embed' style="color:#0000FF;text-align:left" target="_blank">See map bigger</a></small>
    <p> hotels </p> 
    <div ng-repeat="hotel in cityinfo.hotels">
    	<font>hotelName : {{hotel.hotelName}} </font>
    	<font>rating : {{hotel.rating}} </font>
    	<font>adress : {{hotel.adress}} </font>
    	<ul>reviews  : 
    		<li ng-repeat="review in hotel.reviews"> {{review}} </li>
    	</ul>
    	<img src="{{hotel.image}}">
    	
    </div>
</div>
