<div>
	<div class="alert alert-success  fa-thumbs-o-up" style="width:30%; background-color:#4DB6AC">
	    <font color="FFFFFF">{{cityinfo.name}}</font><br>
	    <font color="FFFFFF">{{cityinfo.mark}}</font><br>
	    <font color="FFFFFF">{{cityinfo.votes}}</font><br>
	    <font color="FFFFFF">{{cityinfo.longitude}}</font><br>
	    <font color="FFFFFF">{{cityinfo.latitude}}</font><br>
	    <p>
	    	{{cityinfo.description}}
	    </p>
	    <div ng-repeat="image in cityinfo.images track by $index">
	    <img
	    width="150px"
	      ng-src="{{image}}"
	    />
	    <hr>
	    </div>
    </div>
    <!-- AIzaSyCntaLXf2OUVh-Z4hqxV8qsIbdICnq78ZA -->

    <iframe width="300" height="170" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" ng-src="https://www.google.com/maps/embed/v1/view?key=AIzaSyCntaLXf2OUVh-Z4hqxV8qsIbdICnq78ZA&center={{cityinfo.latitude}},{{cityinfo.longitude}}&zoom=5&maptype=satellite"></iframe>
    <br/>
    <small><a ng-href="https://maps.google.com/maps?q={{cityinfo.latitude}},{{cityinfo.longitude}}&hl=es;z=14&amp;output=embed" style="color:#0000FF;text-align:left" target="_blank">See map bigger</a></small>
</div>
