<nav style="background-color: #292929" class="navbar navbar-inverse">
  <div class="container-fluid">
    <div  class="navbar-header">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
      <a class="navbar-brand" href="#!main"><font color="#ffffff" face="Allerta+Stencil" size=4> Power Port</font> </a>
    <ul class="nav navbar-nav">
      <li><a class="navbar-brand" href="#main"><font color="#ffffff"> Serarch Page</font></a></li>
      <li><a class="navbar-brand" href="#mobile"><font color="#ffffff">Mobile View</font></a></li>
      <li><a class="navbar-brand" href="#cityinfo"><font color="#ffffff">Info Page</font></a></li>
      <li><a class="navbar-brand" href="#findcity"><font color="#ffffff">Find City</font></a></li>
    </ul>    
  </div>

  </div>
</nav>